{{- if eq .Values.kind "Deployment" }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "drone-runner-docker.fullname" . }}
  labels:
    {{- include "drone-runner-docker.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "drone-runner-docker.selectorLabels" . | nindent 4 }}
{{- end }}